html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#cesiumContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #CCC;
    position: absolute;
}
.cesium-viewer-animationContainer {
    display: none;
}
.cesium-viewer-bottom {
    left: 10px !important;
}
#toolbar {
    padding: 5px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5)
}
#checkboxes {
    background-color: rgba(255, 255, 255, 0.5)
}
